$color1: #111;
$color2: #818181;

%layout { 
    background-color: $color1;
}

%message {
    background-color: white;
}

.head {
    @extend %layout;
    color: $color2;
    border: 1px solid black;
    text-align: center;
    font-size: medium;
    height: 50px;
    padding-top: 10px;
    z-index: 2;
}

.sidenav {
    @extend %layout;
    z-index: 1;
    height: 101vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 20px;
    
    a {
        color:$color2;
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 16px;
        display: block;
    }

    a:hover {
        color: #f1f1f1;
    }
}

.users {
    @extend %layout;
    color: $color2;
    position: fixed;
    display: none;
    padding: 10px;
    width: 230px;
    top: 50px;
    right: 0px;
    height: 100%;
    overflow-y: auto;
}

#direct-message {
    @extend %message;
}

#message {
    @extend %message;
}

body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;

    hr {
        color: white;
        background-color: whitesmoke;
    }
}

.texts-list {
    height: 78vh;
    overflow: auto;
}

.channels-list {
    height: 70vh;
    overflow: auto;
}

@media (max-width: 989px){
    body{
      overflow-y: auto;
    }
}