body {
    text-align: center;
}

body > img {
    display: inline-block;
}
 
#welcome {
    display: block;
}

#container, #container1 {
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
}

#container {
    background-color:  #111;
    color: white;
    padding-top: 50px;
    
}


#container1 {
    background-color: white;
    padding-top: 75px;
}