{% extends "layout.html" %}

{% block body %}
<header>
   
    <h5>activities that I enjoy doing in my free time</h5>
        
    <p> 
        In my free time I enjoy playing basketball a lot as I mentioned in my extracurricular
        activities, reading certain books, and some TV series mainly, but also I don’t mind 
        checking out some science, technology, and business articles and short documentaries.
        In short documentaries, I like to watch short documentaries on youtube channels like 
        bloomberg, seeker,NBC, and wall street journal: I favour their economic related contents.

    </p>
    
</header>
<hr>
<h5>Some of the books that I read</h5>
<main>
    <div>
        <h6>Trevor Noah’s Born A Crime</h6>
        <p>
            He talks about The apartheid regime,  how colonialists convinced different tribes to turn on
             each other and also talks about  his existence, which was actually illegal because the regime
              outlawed relationships between people of different races, and he was mixed. He continues to 
              talk about how he struggled to realize himself in a world where he wasn’t even supposed to 
              exist, which relates to the title of the book “born a crime.” 
        </p>
    </div>
    <div>
        <h6>Educated by Tara Westover</h6>
        <p>
            In this memoir, Tara talks about how she didn’t exist: She had no birth certificate, never
             attended school, and has never been to any hospital due to her father. At sixteen, Tara left
              home and found out about the transformative power of education, and the price she had to pay 
              for it.
        </p>
        <hr>
    </div>
</main>
{% endblock %}