{% extends "layout.html" %}

{% block body %}
<header>
        <h5>People that inspire me, and my future aspirations</h5>
</header>
<hr>
<main>
    <div>
        <h6>Who I admire the most</h6>
        <hr>
        <p>
            My father. Some of the things that I admire most about my father are his determination and 
            persistence. My grandfather  wouldn’t allow him to continue education saying that education 
            is expensive although he was able to afford it, and by the time my father  had passed the 
            National Exams. Moreover, His father would sell off my father’s small business activities that 
            he tried to start at home and also beat my grandmother close to death. Therefore, My father left 
            home at seventeen to shape his own life. Not everyone at this age is able to accomplish what he had 
            achieved so far. From building a successful business, having a happy family, being a goodman, and 
            supporting and understanding us in every way possible.  
        </p>
    </div>
    <div>
        <h6>Why do I want to go to college</h6>
        <hr>
        <p>
            There are several reasons why I need to attend college. Both of my parents did have a chance 
            to at least to step in highschool. Therefore, as I grew up they always told me how much setbacks
            they face due to lack of appropriate education. So, by this I grew up knowing the value of education. 
            Moreover,  I believe that by attending college I will be able to pursue my passions deeply through 
            gaining additional knowledge and further hands-on experience in the fields that I am passionate about.
            Finally, I think that interacting with fellow students in several student organisations at college will 
            further contribute to my personal and intellectual growth.
        </p>
    </div>
    <div>
        <h6>What Do You Expect to Be Doing 10 Years From Now</h6>
        <hr>
        <p>
            I wish to be working for or owning a solution oriented company, where I will be working with
             several other computer scientists using technology to tackle problems facing our community, 
             like pollution control and sustainably improving on certain materials that we use today. 
             Moreover, I wish to make contributions to communities in underdeveloped countries to assist 
             in their development.
        </p>
    </div>
    <div>
        <h6>Why do you want to go to Vanderbilt university</h6>
        <hr>
        <p>
            In my application, I highlighted how I like to know and explore more of the passions that
             I possess. In addition to being enthusiastic  about science and technology, I developed an 
             interest in economic activities when helping my parents to run a business. At Vanderbilt, students
              are given opportunities to pursue whatever interests them, and this makes me believe that 
              it is the perfect environment for someone like me who needs to forge an interdisciplinary 
              understanding of different things.
        </p>
    </div>
</main>
<hr>
{% endblock %}